<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/OEP/public/stylesheets/intro.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <title>온라인 전시회 플랫폼</title>
</head>
<body>
    <div class="background" id="back1">
    </div>
    <div class="intro_content_box">
        <p class="intro_content_title" style="margin: 0px; text-align: center; margin-bottom: 1vh;">평소에 보고싶었지만 가지 못했던 전시회가 있나요</p>
        <p class="intro_content_sub_title" style="margin: 0px; text-align: center; margin-bottom: 2vh;">언제 어디서든 편안하게 전시회를 관람하세요</p>
        <div class="intro_content_button_box">
            <button class="intro_content_button"  onclick="location.href='./start.html'">전시회 관람하기</button>
        </div>
        <img class="start_under_arrow" src="/OEP/public/images/start/down_icon.png" alt="" onclick="scroll_1()">
    </div>
    <div class="background" id="back2" style="background: url(/OEP/public/images/start/start2.jpg) center center / cover no-repeat;">
    </div>
    <div class="intro_content_box">
        <p class="intro_content_title" style="margin: 0px; text-align: center; margin-bottom: 1vh;">이미 끝났지만 보고 싶었던 전시회가 있나요</p>
        <p class="intro_content_sub_title" style="margin: 0px; text-align: center; margin-bottom: 2vh;">언제든지 저렴한 가격으로 보고싶었던 전시회를 관람하세요</p>
        <div class="intro_content_button_box">
            <button class="intro_content_button"  onclick="location.href='/start'">지난 전시회 보기</button>
        </div>
        <img class="start_under_arrow" src="/OEP/public/images/start/down_icon.png" alt="" onclick="scroll_2()">
    </div>
    <div class="background" id="back3" style="background: url(/OEP/public/images/start/start3.jpg) center center / cover no-repeat;">
    </div>
    <div class="intro_content_box">
        <p class="intro_content_title" style="margin: 0px; text-align: center; margin-bottom: 1vh;">나만의 전시회를 차려보고 싶진 않나요</p>
        <p class="intro_content_sub_title" style="margin: 0px; text-align: center; margin-bottom: 2vh;">당신만의 전시회를 개최해 보세요</p>
        <div class="intro_content_button_box">
            <button class="intro_content_button"  onclick="location.href='/start'">전시회 개최하기</button>
        </div>
        <img class="start_under_arrow" src="/OEP/public/images/start/down_icon.png" alt="" onclick="scroll_3()">
    </div>
    <div class="background" id="back4" style="background: url(/OEP/public/images/start/start4.jpg) center center / cover no-repeat;">
    </div>
    <div class="intro_content_box">
        <p class="intro_content_title" style="margin: 0px; text-align: center; margin-bottom: 1vh;">최대 19,900원 이하의 저렴한 금액으로 전시회를 관람하세요</p>
        <p class="intro_content_sub_title" style="margin: 0px; text-align: center; margin-bottom: 2vh;">보고 싶은 전시회를 마음껏 관람하세요</p>
        <div class="intro_content_button_box">
            <button class="intro_content_button"  onclick="location.href='/start'">작품 관람하기</button>
        </div>
        <img class="start_under_arrow" src="/OEP/public/images/start/down_icon.png" alt="" onclick="scroll_4()">
        <script>
            // 스크롤이동
            scroll_1 = () => {
                var location1 = document.getElementById("back2").offsetTop;
                window.scrollTo(0, location1)
            }
            scroll_2 = () => {
                var location1 = document.getElementById("back3").offsetTop;
                window.scrollTo(0, location1)
            }
            scroll_3 = () => {
                var location1 = document.getElementById("back4").offsetTop;
                window.scrollTo(0, location1)
            }
            scroll_4 = () => {
                var location1 = document.getElementById("back1").offsetTop;
                window.scrollTo(0, location1)
            }
        </script>
    </div>
    <img src="/OEP/public/images/icon/title_text_icon.png" alt="" style="position: fixed; top: 20px; left: 20px;; z-index: 10; width: 200px; cursor: pointer;" onclick="location.href='/'">
    <button style="position: fixed; top: 20px; right: 20px; z-index: 10; width: 80px; height: 35px; font-size: 16px; border: none; outline: none; border-radius: 17.5px; cursor: pointer;" onclick="location.href='./user/login.html'">로그인</button>
</body>
</html>