<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/OEP/public/stylesheets/style.css" />
    <link href="/OEP/public/stylesheets/style.css" media="screen and (min-width: 512px) and (max-width: 1024px)"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400&display=swap" rel="stylesheet">
    <title>온라인 전시회 플랫폼</title>
</head>
<style>
    body {
        margin: 0px;
        animation: fadein 1000ms ease-out;
        background-color: white;
    }
</style>

<body>
    <div id="div_nav_area"
        style="width: 100%; height: 70px; position: relative; filter: brightness(50%); z-index: 100; background-color: black; opacity: 0.8; position: fixed; z-index: 10000000; margin-top: 0px;">
    </div>
    <div class="main_nav_area" style="position: fixed; z-index: 10000000; margin-top: 0px; ">
        <div class="main_nav_leftbox">
            <img style="height: 40%; margin-left: 10px; cursor: pointer; margin-right: 3rem;"
                src="/OEP/public/images/icon/title_text_icon.png" alt="" onclick="location.href='/main'">
            <div class="main_nav_textbox" style="width: 6.5rem; margin-right: 1rem;">
                <a class="main_nav_text" href="" style="font-size: 19px; text-decoration: none;">THE PRESENT</a>
            </div>
            <div class="main_nav_textbox" style="width: 5.7rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/end_exhibition"
                    style="font-size: 19px; text-decoration: none;">TERMINATION</a>
            </div>
            <div class="main_nav_textbox" style="width: 4.7rem; margin-right: 1rem;">
                <a class="main_nav_text" href="" style="font-size: 19px; text-decoration: none;">ORIGINAL</a>
            </div>
            <div class="main_nav_textbox" style="width: 4.6rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/supportable_exhibition"
                    style="font-size: 19px; text-decoration: none;">SUPPORT</a>
            </div>
        </div>
        <div class="main_nav_rightbox">
            <div class="main_nav_textbox" style="width: 3.8rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/public">PUBLIC</a>
            </div>
            <!-- <% if (sess.user) {%> -->
            <!-- <% if (sess.user.ID == 'IU') {%> -->
            <div class="main_nav_textbox" style="width: 3.8rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/exhibition_approval"
                    style="font-size: 19px; text-decoration: none;">ADMIN</a>
            </div>
            <!-- <%}%> -->
            <!-- <%}%> -->
            <div class="main_nav_textbox" style="width: 3.8rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/search_exhibitions"
                    style="font-size: 19px; text-decoration: none;">SEARCH</a>
            </div>
            <!-- <% if (sess.user) {%> -->
            <div class="main_nav_textbox" style="width: 3.8rem; margin-right: 1rem;">
                <a class="main_nav_text" href="/mypage" style="font-size: 19px; text-decoration: none;">MYPAGE</a>
            </div>
            <!-- <%}%> -->
            <!-- <% if (sess.user) {%> -->
            <div class="main_nav_textbox" style="width: 4.1rem; margin-right: 20px;">
                <a class="main_nav_text" href="/logout" style="font-size: 19px; text-decoration: none;">LOGOUT</a>
            </div>
            <!-- <%} else {%> -->
            <div class="main_nav_textbox" style="width: 4.1rem; margin-right: 20px;">
                <a class="main_nav_text" href="/login" style="font-size: 19px; text-decoration: none;">LOGIN</a>
            </div>
            <!-- <%}%> -->
        </div>
    </div>

    <style>
        body {
            margin: 0px;
            animation: fadein 1000ms ease-out;
            background-color: #212121;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <div class="top_main_area"></div>
    <div class="top_main_blur"></div>
    <div class="top_recommendation_area">
        <!-- 최상단 박스 -->
        <div class="top_recommendation_box1">
            <div class="top_recommendation_content_box">
                <div class="top_recommendation_content" onclick="location.href='/exhibition_detail/<%=row[0].NUMBER%>'">
                    <img class="top_recommendation_img" src="/OEP/public/images/exhibition_title_images/art-art-history_main_1440x800.jpg"
                        alt="">
                </div>
                <div class="top_recommendation_textbox">
                    <p class="top_recommendation_title">전시회 제목 1</p>
                    <p class="top_recommendation_sub">전시회 부제목 1</p>
                </div>
            </div>
            <div class="top_recommendation_content_box" style=" left: calc(25%);">
                <div class="top_recommendation_content" onclick="location.href='/exhibition_detail/<%=row[1].NUMBER%>'">
                    <img class="top_recommendation_img" src="/OEP/public/images/exhibition_title_images/KakaoTalk_20191205_000204658.jpg"
                        alt="">
                </div>
                <div class="top_recommendation_textbox">
                    <p class="top_recommendation_title">전시회 제목 2</p>
                    <p class="top_recommendation_sub">전시회 부제목 2</p>
                </div>
            </div>
            <div class="top_recommendation_content_box" style=" left: calc(50%);">
                <div class="top_recommendation_content" onclick="location.href='/exhibition_detail/<%=row[2].NUMBER%>'">
                    <img class="top_recommendation_img" src="/OEP/public/images/exhibition_title_images/875a3e72-1bea-47de-8edf-e12553456d13.jpg"
                        alt="">
                </div>
                <div class="top_recommendation_textbox">
                    <p class="top_recommendation_title">전시회 제목 3</p>
                    <p class="top_recommendation_sub">전시회 부제목 3</p>
                </div>
            </div>
            <div class="top_recommendation_content_box" style="left: calc(75%);">
                <div class="top_recommendation_content" onclick="location.href='/exhibition_detail/<%=row[3].NUMBER%>'">
                    <img class="top_recommendation_img"
                        src="/OEP/public/images/exhibition_title_images/2624d40fed2c0b1512ec160223dae034bf341156.jpg"
                        alt="">
                </div>
                <div class="top_recommendation_textbox">
                    <p class="top_recommendation_title">전시회 제목 4</p>
                    <p class="top_recommendation_sub">전시회 부제목 4</p>
                </div>
            </div>
        </div>
        <div class="main_area_text"
            style="height: calc(5vh + 20px); font-size: 2.333rem; margin-bottom: calc(1vh + 5px); margin-top: calc(1vh + 2px); font-weight: 700; color: white; padding-left: 1vw;">
            ORIGINAL EXHIBITION</div>
        <div class="top_recommendation_box2" style="padding-bottom: 20%;">
            <div class="box2_content_box">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">CHERNOBYL</p>
            </div>
            <div class="box2_content_imgbox">
                <img id="box2_3" class="box2_content_img" src="/OEP/public/images/101.jpg">
            </div>
            <div class="box2_content_box" style="left: calc(14.28571428571429%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">조제</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(14.28571428571429%);">
                <img id="box2_1" class="box2_content_img" src="/OEP/public/images/test100.PNG">
            </div>
            <div class="box2_content_box" style="left: calc(28.57142857142858%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">ABOUT TIME</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(28.57142857142858%);">
                <img id="box2_2" class="box2_content_img" src="/OEP/public/images/test101.PNG">
            </div>
            <div class="box2_content_box" style="left: calc(42.85714285714287%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">EXTRACURRICULAR</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(42.85714285714287%);">
                <img id="box2_4" class="box2_content_img" src="/OEP/public/images/104.PNG"
                    onclick="location.href='http://localhost:3000/exhibition_detail/32'">
            </div>
            <div class="box2_content_box" style="left: calc(57.14285714285716%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">WITCH</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(57.14285714285716%);">
                <img id="box2_5" class="box2_content_img" src="/OEP/public/images/108.jpg">
            </div>
            <div class="box2_content_box" style="left: calc(71.42857142857145%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">LIFE</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(71.42857142857145%);">
                <img id="box2_6" class="box2_content_img" src="/OEP/public/images/106.PNG">
            </div>
            <div class="box2_content_box" style="left: calc(85.71428571428574%);">
                <p class="box2_content_box_title">ORIGINAL</p>
                <p class="box2_content_box_sub">MOONCHANGHEE</p>
            </div>
            <div class="box2_content_imgbox" style="left: calc(85.71428571428574%);">
                <img id="box2_7" class="box2_content_img" src="/OEP/public/images/107.jpg">
            </div>
            <style>
                #box2_1:hover {
                    content: url("/OEP/public/images/100.webp");
                    position: relative;
                    z-index: 5000;
                    filter: brightness(100%);
                }

                #box2_4:hover {
                    content: url("/OEP/public/images/104_1.PNG");
                    position: relative;
                    z-index: 5000;
                }

                #box2_5:hover {
                    content: url("/OEP/public/images/106_1.jpg");
                    position: relative;
                    z-index: 5000;
                }
            </style>
        </div>
        <!-- 세번째 박스 시작 -->
        <div class="main_area_text"
            style="height: calc(5vh + 20px); font-size: 2.333rem; margin-bottom: calc(1vh + 5px); margin-top: calc(1vh + 2px); font-weight: 700; color: white; padding-left: 1vw;">
            CATEGORY_1</div>
        <div class="main_box3">
            <div class="main_box3_contentbox">
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d1.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d2.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            YOU ARE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d3.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d4.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d5.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d6.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            FAVORITE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d7.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d8.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d9.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d10.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            EXHIBITION
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d11.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d12.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d13.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d14.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end; margin-right: 0px;">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d15.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d16.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_area_text"
            style="height: calc(5vh + 20px); font-size: 2.333rem; margin-bottom: calc(1vh + 5px); margin-top: calc(1vh + 2px); font-weight: 700; color: white; padding-left: 1vw;">
            CATEGORY_2</div>
        <div class="main_box3">
            <div class="main_box3_contentbox">
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d1.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d2.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            YOU ARE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d3.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d4.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d5.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d6.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            FAVORITE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d7.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d8.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d9.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d10.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            EXHIBITION
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d11.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d12.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d13.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d14.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end; margin-right: 0px;">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d15.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d16.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_area_text"
            style="height: calc(5vh + 20px); font-size: 2.333rem; margin-bottom: calc(1vh + 5px); margin-top: calc(1vh + 2px); font-weight: 700; color: white; padding-left: 1vw;">
            CATEGORY_3</div>
        <div class="main_box3">
            <div class="main_box3_contentbox">
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d1.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d2.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            YOU ARE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d3.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d4.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d5.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d6.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            FAVORITE
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d7.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d8.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d9.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d10.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end">
                    <div class="main_box3_line_box_sub">
                        <div class="main_box3_line_box_sub_box">
                            EXHIBITION
                        </div>
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d11.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d12.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d13.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d14.jpg" alt="">
                    </div>
                </div>
                <div class="main_box3_contentbox_line" style="justify-content: flex-end; margin-right: 0px;">
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d15.jpg" alt="">
                    </div>
                    <div class="main_box3_line_box">
                        <img class="main_box3_line_img" src="/OEP/public/images/exbox1/d16.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
