<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/OEP/public/stylesheets/intro.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <title>온라인 전시회 플랫폼</title>
</head>
<body>
    <div class="background" id="back1" style="background: url(/OEP/public/images/start/start5.png) center center / cover no-repeat; filter: brightness(20%);">
    </div>
    <div class="intro_content_box" style="margin-top: -65vh;">
        <div class="start_logo_box">
            <img class="start_logo" src="/OEP/public/images/icon/title_text_icon.png" alt="" style="cursor: pointer;" onclick="location.href='/intro'">
        </div>
        <div class="start_button_box">
            <button class="start_button" onclick="location.href='./user/sign_first.html'">회원가입 하기</button>
        </div>
        <div class="start_button_box">
            <button class="start_button" onclick="location.href='./main.html'">가입하지 않고 이용하기</button>
        </div>
        <div class="start_button_box">
            <div style="width: 12vw; background-color: lightgrey; height: 1px; filter: brightness(50%);"></div>
        </div>
        <div class="start_button_box" style="margin-bottom: -1vh;">
            <span style="font-size: 14px; filter: brightness(50%);">기존회원은 로그인후에 이용하세요</span>
        </div>    
        <div class="start_button_login_box">
            <button class="start_login_button" onclick="location.href='./user/login.html'">로그인</button>
        </div>        
    </div>
</body>
</html>