<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/OEP/public/stylesheets/intro.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
    <form action="/users/login_user" method="POST">
        <div class="background" id="back1" style="background: url(/OEP/public/images/start/login.jpg) center center / cover no-repeat; filter: brightness(20%);">
        </div>
        <div class="login_box">
            <input type="text" class="login_box_input" placeholder="아이디" name="id">
        </div>
        <div class="login_box" style="top: calc(47vh + 55px);">
            <input type="password" class="login_box_input" placeholder="비밀번호" name="pwd">
        </div>
        <!-- <div class="login_box" style="top: calc(47vh + 145px);">
            <button class="login_page_login_button">로그인</button>
        </div> -->
    </form>
    <div class="login_box" style="top: calc(47vh + 145px);" onclick="location.href='../main.html'">
        <button class="login_page_login_button">로그인</button>
    </div>
    <img src="/OEP/public/images/icon/title_text_icon.png" alt="" style="position: fixed; top: 36vh; left: calc(50% - 200px); z-index: 10; width: 400px; cursor: pointer;" onclick="location.href='/main'">
    <button style="position: fixed; top: 20px; right: 20px; z-index: 10; width: 80px; height: 35px; font-size: 16px; border: none; outline: none; border-radius: 17.5px; cursor: pointer;" onclick="location.href='./sign_first.html'">회원가입</button>
</body>
</html>